:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-light: rgb(72, 72, 72);
  --foreground-dark: #fc642d;
  --background-start-light: #767676;
  --background-end-light: #484848;
  --background-start-dark: #484848;
  --background-end-dark: #767676;

  --primary-glow-light: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --primary-glow-dark: radial-gradient(
    rgba(1, 65, 255, 0.4),
    rgba(1, 65, 255, 0)
  );

  --secondary-glow-light: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  --secondary-glow-dark: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0.3)
  );

  --tile-start-rgb: #ff5a5f;
  --tile-end-rgb: #00a699;
}

[data-theme="light"] {
  --foreground: var(--foreground-light);
  --background-start: var(--background-start-light);
  --background-end: var(--background-end-light);
  --primary-glow: var(--primary-glow-light);
  --secondary-glow: var(--secondary-glow-light);
}

[data-theme="dark"] {
  --foreground: var(--foreground-dark);
  --background-start: var(--background-start-dark);
  --background-end: var(--background-end-dark);
  --primary-glow: var(--primary-glow-dark);
  --secondary-glow: var(--secondary-glow-dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground); /* Updated to use --foreground variable */
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
